<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">AI Testing Repository</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" [class.active]="selectedNav === 'home'" (click)="onSelectNav('home')">Home</a>
        <a class="nav-item nav-link" routerLink="/paper" [queryParams]="queryParams" [class.active]="selectedNav === 'paper'" (click)="onSelectNav('paper')">Paper</a>
      </div>
    </div>
  </div>
</nav>
<div class="container" id="main-content">
  <div class="row">
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4" id="right-nav">
      <div class="row">
        <!--<div class="input-group-prepend">-->
        <!--<div class="input-group-text">-->
        <!--<p-dropdown [options]="types"></p-dropdown>-->
        <!--</div>-->
        <!--</div>-->
        <!--<input type="text" class="form-control"/>-->
        <div class="form-group">
          <h4>Quick Search</h4>
        </div>
        <div class="form-group">
          <p-dropdown [options]="types" [(ngModel)]="queryParams.type"></p-dropdown>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Keyword" [(ngModel)]="queryParams.keywords">
            <button pButton type="button" label="Search" routerLink="/paper" [queryParams]="queryParams"></button>
          </div>
        </div>
        <div class="form-group">
          <span>View all <a routerLink="/paper">papers</a></span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <h4>Paper Upload</h4>
        </div>
        <div class="form-group">
          <button pButton type="button" routerLink="/paper/edit" label="Edit" (click)="onSelectNav('paper')"></button>
        </div>
      </div>
    </div>
  </div>
</div>
