<div class="row">
  <h4>Paper Upload</h4>
</div>
<br>
<div class="row">
  <div class="form-group">
    <h5>Latex upload</h5>
    <textarea pInputTextarea class="col-sm-12" [(ngModel)]="latexInfo.info" [rows]="5"></textarea>
  </div>
  <div class="form-group">
    <h5>URL</h5>
    <input type="text" pInputText class="col-sm-12" [(ngModel)]="latexInfo.url"/>
  </div>
  <div class="form-group">
    <h5>Abstract</h5>
    <textarea pInputTextarea class="col-sm-12" [(ngModel)]="latexInfo.paperAbstract" [rows]="5"></textarea>
  </div>
  <div class="form-group" style="border-bottom: 1px solid black; padding-bottom: 20px">
    <button pButton type="button" icon="pi pi-file" label="Save" class="ui-button-success" (click)="uploadLatexInfo()"></button>
    &nbsp;&nbsp;
    <button pButton type="button" icon="pi pi-refresh" label="Reset" class="ui-button-secondary" (click)="resetLatex()"></button>
  </div>
  <div class="form-group">
    <h5>Title</h5>
    <input type="text" pInputText class="col-md-12" [(ngModel)]="paper.title" (change)="checkTitle(paper.title)"/>
  </div>
  <div class="form-group">
    <h5>Authors</h5>
    <div class="ui-inputgroup col-md-12">
      <input type="text" pInputText class="col-md-12" [(ngModel)]="authorName"/>
      <button pButton type="button" icon="pi pi-plus" class="ui-button-info" (click)="addAuthor(authorName)"></button>
    </div>
    <div class="authors-list">
      <span class="badge badge-primary" *ngFor="let author of paper.authors">{{ author }}&nbsp;<span class="delete-btn" (click)="deleteAuthor(author)">&times;</span></span>
    </div>
  </div>
  <div class="form-group">
    <h5>Publish Journal</h5>
    <input type="text" pInputText class="col-md-12" [(ngModel)]="paper.publishJournal"/>
  </div>
  <div class="form-group">
    <h5>Publish Time</h5>
    <!--<input type="text" pInputText placeholder="Time" class="col-md-12"/>-->
    <p-calendar [inputStyleClass]="'col-md-12'"
                [styleClass]="'col-md-12'"
                [style]="{ padding: '0' }"
                [(ngModel)]="paper.publishTime" dateFormat="dd/mm/yy"></p-calendar>
  </div>
  <div class="form-group">
    <h5>URL</h5>
    <input type="text" pInputText class="col-md-12" [(ngModel)]="paper.url"/>
  </div>
  <div class="form-group">
    <h5>Abstract</h5>
    <textarea pInputTextarea [(ngModel)]="paper.paperAbstract" class="col-md-12" [rows]="5"></textarea>
  </div>
  <div class="form-group">
    <button pButton type="button" icon="pi pi-file" label="Save" class="ui-button-success" (click)="uploadPaper()"></button>
    &nbsp;&nbsp;
    <button pButton type="button" icon="pi pi-refresh" label="Reset" class="ui-button-secondary" (click)="reset()"></button>
  </div>
</div>
<p-toast key="info"></p-toast>
