.form-group h5 {
  width: 100%;
}
.form-group {
  width: 100%;
  padding-right: 8rem;
}
.ui-inputgroup {
  padding: 0;
}
.authors-list {
  margin-top: 8px;
  font-size: 1.3rem;
}
.delete-btn {
  cursor: pointer;
}
.badge {
  margin-right: 5px;
}
